:root {
    --primary-color: #9DC88D;
    --secondary-color: #4D774E;
    --accent-color: #F1B24A;
    --background-color: #164A41;
    --text-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
}

.cardLogo {
    width: 100px;
    height: 120px;
}

.cardisc, .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heartIcon {
    position: relative;
    top: 5px;
}

.slider, .levelSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: var(--secondary-color);
    outline: none;
    transition: background 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;  
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--primary-color);
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

input[type="range"]:hover::-webkit-slider-thumb,
input[type="range"]:focus::-webkit-slider-thumb {
    background: var(--accent-color);
}

input[type="range"]:hover,
input[type="range"]:focus {
    background: var(--primary-color);
}

.range-value {
    font-family: Poppins, sans-serif;
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}

select {
    width: 100%;
    padding: 10px 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    appearance: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

select:focus {
    outline: none;
    border-color: #EA3323;
}


select::-ms-expand {
    display: none;
}

select::after {
    content: '▼';
    font-size: 14px;
    color: #333;
    position: absolute;
    right: 15px;
    top: 12px;
    pointer-events: none;
}

option {
    padding: 10px;
    font-size: 16px;
}

option:hover {
    background-color: #f0f0f0;
    color: #EA3323;
}

select {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    appearance: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

select:focus {
    outline: none;
    border-color: #EA3323;
}

select::-ms-expand {
    display: none;
}

select::after {
    content: '▼';
    font-size: 14px;
    color: #333;
    position: absolute;
    right: 15px;
    top: 12px;
    pointer-events: none;
}

option {
    padding: 10px;
    font-size: 16px;
}

option:hover {
    background-color: #f0f0f0;
    color: #EA3323;
}